{% extends "projects/task/base_detail.html" %}
{% load i18n %}

{% block content %}

<h1>#{{ task.id }} - {{ task }} <small>(<a href="{{ task.get_edit_url }}">edit</a>)</small></h1>
<p>{% trans "Created" %} {{ task.created|timesince }} {% trans "ago by" %} {{ task.assignor }}</p>
<div class="task_details">
    <div class="actions">
        <p class="alrt">{% trans "Last modified" %} {{ task.modified|timesince }} {% trans "ago" %}</p>
        <p class="alrt"><a href="{% url time_add project.id %}?task={{ task.id }}" class="btn-add-time">{% trans "Log time" %}</a></p>
    </div>

    <div class="details">
        <ul>
            <li>{% trans "Milestone" %}: {{ task.milestone }}</li>
            <li>{% trans "Assigned to" %}: {{ task.owner }}</li>
            <li>{% trans "Start date" %}: {{ task.start_date }}</li>
            <li>{% trans "Due date" %}: {{ task.end_date }}</li>
            <li>{% trans "Time" %}: {{ task.get_current_time }} / {{ task.get_estimated_duration }}</li>
        </ul>
    </div>
</div>

{% if task.description %}
<h2>Description</h2>
{{ task.description }}
{% endif %}

{% endblock %}


{% block content_sidebar %}
    <h2>{% trans "Subtasks" %}</h2>
    <div class="task_list">
    {% for subtask in task.get_subtasks %}
        <p><a href="{{ subtask.get_absolute_url }}">{{ subtask }}</a></p>
    {% empty %}
        {% trans "There are no subtasks for this task" %}
    {% endfor %}
    </div>
{% endblock %}

