{% extends "projects/task/base.html" %}
{% load i18n %}


{% block content %}
<div id="tasks">
    <input type="hidden" id="project_id" value="{{ project.id }}" />

    {% if milestones %}
        {% for milestone in milestones %}
        <div class="milestone">
            <h2>{{ milestone }}</h2>
                {% if milestone.get_parent_tasks %}
                    <div class="task_list">
                    {% for task in milestone.get_parent_tasks %}
                        {{ task.get_children_html|safe }}
                    {% endfor %}
                    </div>
                {% else %}
                    <p>There are no tasks in this milestone, <a href="{% url projects.views.task.save project.id %}" title="{% trans "create task" %}">{% trans "create one now" %}</a></p>
                {% endif %}
        </div>
        {% endfor %}
    {% else %}
    <p>There are no tasks created for this project</p>
    {% endif %}

    {% if late_list %}
    <div class="milist late">
        <h2>Late</h2>
        {% for task in late_list %}
        {% include 'projects/task/_list_detail.html' %}
        {% endfor %}
    </div>
    {% endif %}

    {% if upcoming_list %}
    <div class="milist upcoming">
        <h2>Upcoming</h2>
        {% for task in upcoming_list %}
        {% include 'projects/task/_list_detail.html' %}
        {% endfor %}
    </div>
    {% endif %}

    {% if completed_list %}
    <div class="milist completed">
        <h2>Completed</h2>
        {% for task in completed_list %}
        {% include 'projects/task/_list_detail.html' %}
        {% endfor %}
    </div>
    {% endif %}

</div>
{% endblock content %}
