{% extends "projects/task/base.html" %}
{% load i18n %}


{% block content %}
<div id="tasks">
    <input type="hidden" id="project_id" value="{{ project.id }}" />

    {% if milestones %}
        {% for milestone in milestones %}
        <div class="milestone">
            <h2>{{ milestone }}</h2>
                {% if milestone.get_parent_tasks %}
                    <div class="task_list">
                    {% for task in milestone.get_parent_tasks %}
                        {{ task.get_children_html|safe }}
                    {% endfor %}
                    </div>
                {% else %}
                    <p>There are no tasks in this milestone, <a href="{% url projects.views.task.save project.id %}" title="{% trans "create task" %}">{% trans "create one now" %}</a></p>
                {% endif %}
        </div>
        {% endfor %}
    {% else %}
    <p>{% trans "There are no tasks created for this project" %}</p>
    {% endif %}

</div>
{% endblock content %}
