<div class="milestone">
    <div class="milestone-details">
        <h3>{{ milestone.title }}</h3>
        <p>
            <span class="end_date">{{ milestone.end_date }}</span>
        </p>

        <div class="actions hidden">
            <span><a href="/milestone/save/{{ milestone.id }}/" class="edit">view</a>, </span>
            <span><a href="{% url projects.views.milestone.save project.id, milestone.id %}" class="edit">edit</a>,  </span>
            <span><a href="" class="delete">delete</a> </span>
        </div>
    </div>
    {% if milestone.todo_set.all.count %}
        <ul class="mile-item-list">
        {% for todo in milestone.todo_set.all %}
            <li>
                <p><a href="/todo/{{ todo.id }}/">{{ todo.title }}</a> <em>(Todo list)</em></p>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
</div>