# TODOS
# 1. Create bootstrap file to install manual stuff
# install python_openid: pip install python_openid

# Django
-e svn+http://code.djangoproject.com/svn/django/trunk/#egg=django-trunk

# user stuff
python_openid
-e hg+http://bitbucket.org/ubernostrum/django-registration/#egg=django-registration
django-authopenid==1.0

# code browser
pygments
-e git://github.com/alex/pyvcs.git#egg=pyvcs
-e git://github.com/jelmer/dulwich.git#egg=dulwich
-e git://github.com/mlouro/django-vcs.git#egg=django-vcs
