{% extends "projects/base.html" %}
{% load i18n %}
{% load navigation_tags %}


{% block content_id_title %}<h1>{{ project }}</h1>{% endblock %}
{% block content_id_links %}
    {% url projects.views.message.save project.id as message_add_url %}
    {% url projects.views.task.save project.id as task_add_url %}
    {% url projects.views.issue.save project.id as issue_add_url %}

    {% get_link_if_allowed message_add_url "Add Message" "projects.add_message" %}
    {% get_link_if_allowed task_add_url "Add Task" "projects.add_task" %}
    <!--{% get_link_if_allowed issue_add_url "Add Issue" "projects.add_issue" %}-->
{% endblock %}

{% block secondary_nav %}
    <ul>
    {% url projects.views.project.dashboard project.id as project_dashboard_url %}
    {% url projects.views.message.index project.id as message_index_url %}
    {% url projects.views.milestone.index project.id as milestone_index_url %}
    {% url projects.views.task.index project.id as task_index_url %}
    {% url projects.views.issue.index project.id as issue_index_url %}
    {% url projects.views.time.index project.id as time_index_url %}

    {% get_link_if_allowed project_dashboard_url "Dashboard" %}
    {% get_link_if_allowed message_index_url "Messages" "projects.view_message" %}
    {% get_link_if_allowed milestone_index_url "Milestones" "projects.view_milestone" %}
    {% get_link_if_allowed task_index_url "Tasks" "projects.view_task" %}
    <!--{% get_link_if_allowed issue_index_url "Tasks" "projects.view_issue" %}-->
    <!--<a href="">Files</a>-->
    {% get_link_if_allowed project_dashboard_url "Issues" %}
    {% get_link_if_allowed project_dashboard_url "Code Browser" %}
    {% get_link_if_allowed time_index_url "Time" "projects.view_time" %}
    {% get_link_if_allowed project_dashboard_url "Files" %}

    {# get project manager links #}
    <li><span style="float: left; padding-left: 30px;">&nbsp;</span></li>
    {% url projects.views.project.people project.id as people_index_url %}
    {% get_link_if_allowed people_index_url "People" "projects.manage_membership" %}
    </ul>
{% endblock %}