{% extends "projects/base.html" %}
{% load i18n %}

{% block content %}

    <div class="project_activity">

        {% for object in object_list %}
        <h3><a href="{% url message_index object.id %}">{{ object }}</a></h3>
        <table class="activity">
            <tr>
                <td class="description">
                    <div class="item_content">
                        <p>
                            <label>{% trans "Messages" %}:</label> {{ object.message_set.all.count }}
                        </p>
                        <p>
                            <label>{% trans "Users:" %}</label> {% for user in object.users.all %}{{ user }}{% endfor %}
                        </p>
                        <p>
                            <label>{% trans "Tasks:" %}</label> {{ object.task_set.all.count }}
                        </p>
                        <p>
                            <label>{% trans "Issues:" %}</label> {{ object.issue_set.all.count }}
                        </p>

                    </div>
                </td>
            </tr>
        </table>
        {% endfor %}

    </div>

{% endblock %}
