{% extends "projects/base.html" %}
{% load i18n %}

{% block content %}

    <div class="project_activity">

        {% for object in object_list %}
        <h3><a href="{{ object.get_absolute_url }}">{{ object }}</a></h3>
        <table class="activity">
            <tr>
                <td class="action"><span class="comment">Comment</span></td>
                <td class="description">
                    <div class="item_content">
                        <a href="/C39991621">Re: Code Commits</a>
                    </div>
                </td>
                <td class="name">Code M.</td>
                <td class="date">Yesterday</td>
            </tr>
        </table>
        {% endfor %}

    </div>

{% endblock %}
