table.activity { width: 100%; }
    table.activity td { padding: 6px 4px 8px; border-bottom: 1px solid #EFEFEF;
            white-space: nowrap; }
        table.activity .action {  }
        table.activity .description { width: 100%; }
        table.activity .name { border-right: 1px solid #EFEFEF; }



/* Newsletters Activity
----------------------------------------------- */

.newsletter_activity h3 { padding: 5px 10px; background: #EFEFEF; font-weight: normal; }
.newsletter_activity h3 a { text-decoration: none; color: #000; }
.newsletter_activity .newsletter-row.focused { background-color: #FFF9DF }

/* Newsletters link edit
----------------------------------------------- */

div.links_edit {position: absolute; left: 410px; top: 100px; height: 400px; width: 500px; padding: 1em;}


/* Group Activity
----------------------------------------------- */


.group_activity h3 { padding: 5px 10px; background: #EFEFEF; font-weight: normal; }
.group_activity h3 a { text-decoration: none; color: #000; }
.group_activity .group-row.focused { background-color: #FFF9DF }





/* Newsletters
----------------------------------------------- */

#tasks .milestone { padding-bottom: 30px; }
#tasks h2 { font-size: 1.6em; border-bottom: 1px solid #EFEFEF; }

.task_list ul { border-top: 1px solid #EFEFEF;  }
    .task_list ul.initial-node { margin-top: 15px; }
    .task_list .task-row { position: relative; padding: 7px 3px 7px 25px; background: #F9F9F9 url(../images/projects/task/bullet_red.gif) no-repeat center left; border: 1px solid #EFEFEF; border-top: none; }
        .task-row label { font-size: 1.2em; }
            .task-row label strong { font-weight: bold; }
            .task-row label em { font-style: italic; }
        .task-row.complete label { text-decoration: line-through; }
        .task-row.complete .time { display: none; }
        .task-row .time, .task-row .owner { padding: 1px 3px; background: green; color: #FFF; font-size: 1.1em; }
        .task-row .time_until { background: green; }
        .task-row .time_since { background: red; }
        .task-row .owner { background: #EDEDED; color: #666 }
        .task-row .actions a { padding: 6px 3px; }

        .task_list .actions { position: absolute; top: 0; right: 15px; padding: 5px 0 5px 5px; font-size: 1.2em; }
        .task_list .actions span { margin: 0 2px; }
        .task_list .actions a:hover { color: #000; }



    .task_list li ul { padding-left: 20px; border: none; }
    .task_list li li { font-size: 1em; }

.task_details { height: auto; overflow: hidden; margin-top: 10px; padding: 15px; background-color: #F9F9F9; border: 1px solid #EFEFEF; }
    .task_details .actions { float: right; }
    .task_details .details { float: left; }

#content_sidebar .task_list .task-row { border: none; }















/*#list-table {vertical-align:bottom;}*/
        /*#list-table th{padding: 0px 25px 0px 25px; }*/
        /*#list-table td{padding: 0px 25px 0px 25px; }*/
        /*/*#list-table {font-size:130%}*/*/

/*.odd {*/
    /*background-color: #def; }*/
/*.odd td {*/
    /*border-bottom: 1px solid #cef; }*/
/*.selectedRow {  */
        /*background-color: #92CC47;  */
        /*cursor: pointer;  */
/*}  */


/*/*#newsletters .newsletter { position: relative; border-bottom: 1px solid #eeeeee; }*/*/
        /*/*.newsletter h3 { float: left; padding-right: 10px; }*/*/
        /*/*.newsletter h3 a {padding: 4px 0 3px; font-size: 1.3em}*/*/
        /*/*.newsletter .details{font-size: 1.3em ; color: #999}*/*/

/*h2.headline { padding: 0px 0 0; margin-bottom: 5px; font-size: 2.0em; color: #579733; border-bottom: 1px solid #EFEFEF;}*/

/*#newsletters .newsletter{}*/
        /*.newsletters h3 { padding: 2px 0; font-size: 1.8em; }*/
        /*.newsletter a {padding: 4px 0 3px; font-size: 1.3em}*/
        /*.newsletter list-table {}*/

/*/*Subscribers*/*/

/*#newsletters {}*/

/*#subscribers .subscriber { position: relative; border-bottom: 1px solid #eeeeee; }*/
        /*.subscriber h3 { float: left; padding-right: 10px; }*/
        /*.subscriber h3 a {padding: 4px 0 3px; font-size: 1.3em; }*/
        /*.subscriber .details{font-size: 1.3em ; color: #999}*/
        /*.subscriber .gp {padding-left:25px; font-size: 1.1em ; color: #999}*/


/*#subscriber-list {border-left:1px solid #CCCCCC;clear:both;padding:10px;}*/
/*#subscriber-list .subscriber{border-bottom:1px solid #CCCCCC;clear:both;padding:5px 0 2px;}*/
        /*.subscribers h3 { padding: 2px 0; font-size: 1.8em; }*/


/*/*Groups*/*/
/*#groups {}*/
        /*/*box {border-bottom:1px solid #CCCCCC;clear:both; padding:0}*/*/

/*#subscriber_table  {width:100%;}*/
        /*th {vertical-align:top;}*/
