/* Global App
----------------------------------------------- */
table.activity { width: 100%; }
    table.activity td { padding: 6px 4px 8px; border-bottom: 1px solid #EFEFEF;
            white-space: nowrap; }
        table.activity .action {  }
        table.activity .description { width: 100%; }
        table.activity .name { border-right: 1px solid #EFEFEF; }


/* Newsletters Activity
----------------------------------------------- */
.newsletter_activity h3 { padding: 5px 10px; background: #EFEFEF; font-weight: normal; }
.newsletter_activity h3 a { text-decoration: none; color: #000; }

.newsletter_activity .newsletter-row .actions a { padding: 6px 3px; }
.newsletter_activity .newsletter-row .actions { position: absolute; padding: 5px 5px 5px 5px; font-size: 1.2em; }
.newsletter_activity .newsletter-row .actions span { margin: 0 2px; }
.newsletter_activity .newsletter-row .actions a:hover { color: #000; }

.newsletter_activity .newsletter-row.focused h3{ background-color: #FFF9DF }

/* Subscribers Activity
----------------------------------------------- */
.subscriber_activity h3 { padding: 5px 10px; background: #EFEFEF; font-weight: normal; }
.subscriber_activity h3 a { text-decoration: none; color: #000; }

.subscriber_activity .subscriber-row .actions a { padding: 6px 3px; }
.subscriber_activity .subscriber-row .actions { position: absolute; padding: 5px 5px 5px 5px; font-size: 1.2em; }
.subscriber_activity .subscriber-row .actions span { margin: 0 2px; }
.subscriber_activity .subscriber-row .actions a:hover { color: #000; }

.subscriber_activity .subscriber-row.focused h3{ background-color: #FFF9DF }

/* Group Activity
----------------------------------------------- */
.group_activity h3 { padding: 5px 10px; background: #EFEFEF; font-weight: normal; }
.group_activity h3 a { text-decoration: none; color: #000; }

.group_activity .group-row .actions a { padding: 6px 3px; }
.group_activity .group-row .actions { position: absolute; padding: 5px 5px 5px 5px; font-size: 1.2em; }
.group_activity .group-row .actions span { margin: 0 2px; }
.group_activity .group-row .actions a:hover { color: #000; }

.group_activity .group-row.focused h3{ background-color: #FFF9DF }


/* Subscriber by group
----------------------------------------------- */
.subscriber_by_group{}
        .subscriber_by_group a:hover { color: #000; }
        .subscriber_by_group li {padding:5px}
        .subscriber_by_group h3 { padding: 5px 10px; background: #EFEFEF; font-weight: normal; }
        .subscriber_by_group h3 a { text-decoration: none; color: #000; }
        
        .group_by {float: left; margin-right: 30px; padding-top: 10px; width:20.5em;}
        .group_by .group-row.focused h3{ background-color: #FFF9DF }
        
        .subscriber_by {float: left; margin-left: 0px; padding-top: 10px; width:20.5em;}
        .subscriber_by .subscriber-row.focused h3{ background-color: #FFF9DF }
        

/*  Edit Newsletters
----------------------------------------------- */

div#edit_newsletter{position: relative;float:left; width:50%}
div#edit_links{position: relative; float:left;} 
/*div#edit_submit{clear:both;}*/
.clear {clear:both;}

/* Sent Newsletters
----------------------------------------------- */
#sent  {float:left; width:200px; background:#EFEFEF; margin-top:15px;}
.sent_newsletters h3 { padding: 5px 10px; background: #CCC; font-weight: normal; width:200px;}
.sent_newsletters h3 a { text-decoration: none; color: #000; }
