h3{
    padding-bottom: 40px;
    color:#23238E;
}

.errorlist li{
    color:#FF0000;
}

p{
    margin:5px;
}

td.green_receipt{
    padding-bottom: 10px;
}

tr.alt td{
    background: #ecf6fc;
}

tr.over td{
    background: #bcd4ec;
}

.navbutton{
    cursor:pointer;
}

.submit p{
    text-align:right;
    margin-right:10px;
    margin-top:50px;
}

#finals input{
    margin-left:5px;
    text-align:right;
}

.taxes{
    display:none;
    width:70px;
    text-align:center;
}

.taxes input{
    width:70px;
    text-align:right;
}

.headers{
    text-align:center;
}

.description{
    width: 230px;
    text-align:center;
}

.description input{
    width: 230px;
}


.image img{
    margin-left:20px;
}

.unity_cost{
    width:70px;
    text-align:center;
}

.unity_cost input{
    width:100px;
    text-align:right;
}

.quantity{
    width:100px;
    text-align:center;
}

.quantity input{
    width:70px;
    text-align:right;
}

.total{
    width:100px;
    text-align:center;
}

.total input{
    width:100px;
    text-align:right;
}

.to_pay{
    width:100px;
    text-align:center;
}

.to_pay input{
    width:100px;
    text-align:right;
}

#document_header{
    margin-bottom:50px;
    border-bottom:2px solid #8F8FBD;
    padding-bottom:20px;
}

#document_header select{
    width:300px;
}

#document_header #description input{
    width:400px;
}

#document_details{
    border-bottom:2px solid #8F8FBD;
    padding-bottom:30px;
}

#finals{
    margin-top:50px;
    margin-bottom:50px;
    border-bottom:2px solid #8F8FBD;
    padding-bottom:30px;
    margin-left:500px;
    padding-left:50px;
}

#buttons p{
    text-align:right;
    margin-right:100px;
}

.navbutton {
    padding: 6px 12px 4px;
    margin: 0 10px 10px 0;
    background: #3333FF;
    -moz-border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    color: #FFF; }
        /*
        #navmenu a { float: left; padding: 9px 10px 8px; margin: 0 5px 0 0; background-color: #326342; font-weight: bold; text-decoration: none; }
        */
.navbutton:hover { background: #000066 ; }
.navbutton.active { background: #CCE9A2; color: #326342; }
.navbutton.active:hover { cursor: auto;  }

#content_sidebar p{
    margin: 15px;
}