

#receipts{
/*     border-bottom: 2px solid #8F8FBD; */
    padding-bottom: 10px;
}

#contracts{
/*     border-bottom: 2px solid #8F8FBD; */
    padding-bottom: 10px;
}

a{
    text-decoration: none;
}

h2{ padding: 10px;}

h3{
    font-size: 17px;
}

table.activity { width: 30%; }
    table.activity td { padding: 6px 4px 8px;
            white-space: nowrap; }
        table.activity .action {  }
        table.activity .description { width: 100%; }
        table.activity .name { border-right: 1px solid #EFEFEF; }

.items h3 { padding: 5px 10px; background: #EFEFEF; font-weight: normal; }
.items h3 a { text-decoration: none; color: #000; }
.items .item_content p { padding: 2px 0; font-size: 13px; text-align: left; }
.items .item_content label { float: left; width: 90px; padding: 0 5px 0 0; text-align: right; }
