{% extends "projects/message/base_detail.html" %}
{% load i18n %}

{% block breadcrumbs_inner %}{% trans "Messages" %}{% endblock %}

{% block content %}
<div id="messages">
    <div class="message">
        <h2><a href="{{ message.get_absolute_url }}">{{ message.title }}</a></h2>
        <p class="author">Posted by {{ message.user }} on {{ message.created|date:"F d, Y, h:iA" }}</p>
        <div class="text">{{ message.message|linebreaksbr }}</div>
    </div>
    <div class="ml_comment_list">
    {% for comment in comments %}
        <div class="ml_comment">
            <div class="ml_comment_user"><strong>{{ comment.user }}</strong> on {{ message.created|date:"F d, Y, h:iA" }}</div>
            {{ comment }}
        </div>
    {% endfor %}
    </div>
    <div class="inline-form ml_comment_form">
        <form class="form" action="" method="POST">
            {% for field in comment_form %}
            {% include "projects/includes/inline-form-row.html" %}
            {% endfor %}
            <p class="submit"><input type="submit" name="submit" class="submit-post" value="Submit"></p>
        </form>
    </div>
</div>
{% endblock content %}
