{% extends "projects/message/base_detail.html" %}
{% load i18n %}

{% block content %}
{% if message.id %}
<form class="form" action="{% url projects.views.message.save project.id, message.id %}" method="post">
{% else %}
<form class="form" action="{% url projects.views.message.save project.id %}" method="post">
{% endif %}
    <input type="hidden" name="id" value="{{ message.id }}" />
    <p class="field">
        <label>Title</label>
        {{ form.title }}
    </p>
    {{ form.title.errors }}

    <p class="field">
        <label>Message</label>
            {{ form.message }}
    </p>
    {{ form.message.errors }}

    <p class="submit">
        {% if message %}
        <input type="submit" value="{% trans "Save message" %}" />
        {% else %}
        <input type="submit" value="{% trans "Create message" %}" />
        {% endif %}
        <a href="javascript:history.back()">{% trans "Cancel" %}</a>
    </p>

</form>
{% endblock %}


