{% extends "projects/message/base_detail.html" %}
{% load i18n %}

{% block breadcrumbs_inner %}{% trans "Messages" %}{% endblock %}

{% block content %}
<div id="messages">
    {% include "projects/message/_message.html" %}
    <div class="comments">
    {% for comment in comments %}
        {% include "projects/message/_comment.html" %}
    {% endfor %}
    </div>
    <div class="inline-form comment_form">
        <form class="form" action="" method="POST">
            <p><strong>{% trans "Leave a comment" %}...</strong></p>
            {{ comment_form.comment }}
            <p><input type="submit" name="submit" class="submit-post" value="{% trans "Add this comment" %}"></p>
        </form>
    </div>
</div>
{% endblock content %}
