{% extends "projects/task/base_detail.html" %}
{% load i18n %}

{% block breadcrumbs_inner %}
{% if task.id %}
{% trans "Edit" %}
{% else %}
{% trans "New" %}
{% endif %}

{% endblock %}

{% block content %}
{% if task.id %}
<form class="form" action="{% url projects.views.time.save project.id %}" method="post">
{% else %}
<form class="form" action="{% url projects.views.time.save project.id %}{% if parent %}?task={{ task.id }}{% endif %}" method="post">
{% endif %}
    <input type="hidden" name="id" value="{{ time.id }}" />
    <input type="hidden" name="task_id" value="{{ task.id }}" />


    {{ form.errors }}

    {% for field in form %}
        {% include "projects/includes/inline-form-row.html" %}
    {% endfor %}


    <p class="submit">
        {% if time %}
        <input type="submit" value="{% trans "Log time" %}" />
        {% else %}
        <input type="submit" value="{% trans "Log time" %}" />
        {% endif %}
        <a href="javascript:history.back()">{% trans "Cancel" %}</a>
    </p>

</form>
{% endblock %}


