{% extends 'base.html' %}
{% load i18n navigation_tags %}

{% block extra_head %}
    {{ block.super }}
    <link type="text/css" rel="Stylesheet" media="screen" href="{{ MEDIA_URL }}css/invoices/common.css"/>
    <link type="text/css" href="{{ MEDIA_URL }}css/invoices/jquery-ui-1.7.2.custom.css" rel="stylesheet" />
    <link type="text/css" href="{{ MEDIA_URL }}css/invoices/ui.datepicker.css" rel="stylesheet" />
    <script type="text/javascript" src="{{ MEDIA_URL }}js/libs/invoices/jquery-1.3.2.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/libs/invoices/ui.core.js"></script>
    <script src="{{ MEDIA_URL }}js/libs/invoices/jquery.bgiframe.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="{{ MEDIA_URL }}js/invoices/common.js"></script>
{% endblock extra_head %}

{% block secondary_nav %}
    <ul>
        {% url company as company_url %}
        {% url receipt_index as receipt_index_url %}
        {% url contract_index as contract_index_url %}

        {% get_link_if_allowed company_url "Company" %}
        {% get_link_if_allowed receipt_index_url "Receipt" %}
        {% get_link_if_allowed contract_index_url "Contract" %}
    </ul>
{% endblock %}


{% block content_id_links %}
    {% url contract.views.contract as contract_add_url %}
    {% get_link_if_allowed contract_add_url "Add Contract" "contract.contract" %}

    {% url receipt.views.receipt as receipt_add_url %}
    {% get_link_if_allowed receipt_add_url "Add Receipt" "receipt.receipt" %}


{% endblock %}


