{% extends 'invoices/base.html' %}
{% load i18n %}

{% block extra_head %}
    {{ block.super }}
    <link type="text/css" rel="Stylesheet" media="screen" href="{{ MEDIA_URL }}css/invoices/invoices.css"/>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/invoices/company.js"></script>
{% endblock extra_head %}

{% block content_id_title %}<h1>{% trans 'Configure your company' %}</h1>{% endblock %}

{% block jquery %}
    {% if there_are_errors %}
        $("#show_contact_information").click();
    {% endif %}
{% endblock jquery %}

{% block content %}
    <form action="/invoices/company/" method="POST">
        <h2 class="headline">{% trans 'Legal Information' %}</h2>
        <table>
            <tr>
                <td><label for="title">{% trans 'Title' %}</label></td>
                <td>
                     {{ form.title }}
                    <br/>
                    {{ form.title.errors }}
                </td>
            </tr>
            <tr>
                <td><label for="legal_name">{% trans 'Legal Name' %}</label></td>
                <td>
                    {{ form.legal_name }}
                <br>
                    {{ form.legal_name.errors }}
                </td>
            </tr>
            <tr>
                <td><label for="nif">{% trans 'Nif' %}</label></td>
                <td>
                    {{ form.nif }}
                <br>
                    {{ form.nif.errors }}
                </td>
            </tr>
            <tr>
                <td><label for="tax">{% trans 'Tax' %}</label></td>
                <td>
                    {{ form.tax }}
                <br>
                    {{ form.tax.errors }}
                </td>
            </tr>
            <tr>
                <td><label for="retention">{% trans 'Retention' %}</label></td>
                <td>
                    {{ form.retention }}
                <br>
                    {{ form.retention.errors }}
                </td>
            </tr>
        </table>

        <h2 class="headline">{% trans 'Extra information' %}</h2>
        <div id="contact_information" >

            <h3>{% trans 'Email addresses' %} <img id="show_emails" width="20px" src="{{ MEDIA_URL }}images/invoices/show_div.png" alt="show"/> </h3>
            <div id="emails" class="hidden">
                {{ formsets.email_formset.management_form }}
                <table>
                    {% for form in formsets.email_formset.forms %}
                        {{ form.id }}
                        <tr><td>{% trans 'Delete' %}</td><td>{{ form.DELETE }}</td></tr>
                        <tr>
                            <td>Email</td>
                            <td>{{ form.address }}<br/>{{ form.address.errors }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'Contact type' %} </td>
                            <td>{{ form.contact_type }}<br/>{{ form.contact_type.errors }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <h3>{% trans 'Addresses' %} <img id="show_addresses" width="20px" src="{{ MEDIA_URL }}images/invoices/show_div.png" alt="show"/> </h3>
            <div id="addresses" class="hidden">
                {{ formsets.address_formset.management_form }}
                <table>
                    {% for form in formsets.address_formset.forms %}
                        {{ form.id }}
                        <tr><td>{% trans 'Delete' %}</td><td>{{ form.DELETE }}</td></tr>
                        <tr>
                            <td>{% trans 'Street'%}</td>
                            <td>{{ form.street}}<br/>{{ form.street.errors }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'City'%}</td>
                            <td>{{ form.city}}<br/>{{ form.city.errors }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'State'%}</td>
                            <td>{{ form.state}}<br/>{{ form.state.errors }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'Zip Code'%}</td>
                            <td>{{ form.zipcode }}<br/>{{ form.zipcode.errors }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'Country'%}</td>
                            <td>{{ form.country }}<br/>{{ form.country.errors }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'Contact type' %} </td>
                            <td>{{ form.contact_type }}<br/>{{ form.contact_type.errors }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <h3>{% trans 'Phone Numbers' %} <img id="show_phones" width="20px" src="{{ MEDIA_URL }}images/invoices/show_div.png" alt="show"/> </h3>
            <div id="phones" class="hidden">
                {{ formsets.phone_formset.management_form }}
                <table>
                    {% for form in formsets.phone_formset.forms %}
                        {{ form.id }}
                        <tr><td>{% trans 'Delete' %}</td><td>{{ form.DELETE }}</td></tr>
                        <tr>
                            <td>{% trans 'Number' %}</td>
                            <td>{{ form.number }}<br/>{{ form.number.errors }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'Contact type' %} </td>
                            <td>{{ form.contact_type }}<br/>{{ form.contact_type.errors }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <h3>{% trans 'Websites' %} <img id="show_websites" width="20px" src="{{ MEDIA_URL }}images/invoices/show_div.png" alt="show"/> </h3>
            <div id="websites" class="hidden">
                {{ formsets.website_formset.management_form }}
                <table>
                    {% for form in formsets.website_formset.forms %}
                        {{ form.id }}
                        <tr><td>{% trans 'Delete' %}</td><td>{{ form.DELETE }}</td></tr>
                        <tr>
                            <td>{% trans 'URL' %}</td>
                            <td>{{ form.url }}<br/>{{ form.url.errors }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'Contact type' %} </td>
                            <td>{{ form.contact_type }}<br/>{{ form.contact_type.errors }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <h3>{% trans 'Instant Messaging' %} <img id="show_ims" width="20px" src="{{ MEDIA_URL }}images/invoices/show_div.png" alt="show"/> </h3>
            <div id="ims" class="hidden">
                {{ formsets.im_formset.management_form }}
                <table>
                    {% for form in formsets.im_formset.forms %}
                        {{ form.id }}
                        <tr><td>{% trans 'Delete' %}</td><td>{{ form.DELETE }}</td></tr>
                        <tr>
                            <td>Email</td>
                            <td>{{ form.im }}<br/>{{ form.im.errors }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'Contact type' %} </td>
                            <td>{{ form.contact_type }}<br/>{{ form.contact_type.errors }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <h3>{% trans 'Email Host Settings' %} <img id="show_email_settings" width="20px" src="{{ MEDIA_URL }}images/invoices/show_div.png" alt="show"/> </h3>
            <div id="email_settings" class="hidden">
                {{ formsets.email_settings_formset.management_form }}
                <table>
                    {% for form in formsets.email_settings_formset.forms %}
                        {{ form.id }}
                        <tr><td>{% trans 'Delete' %}</td><td>{{ form.DELETE }}</td></tr>
                        <tr>
                            <td>{% trans 'Host' %}</td>
                            <td>{{ form.host }}<br/>{{ form.host.errors }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'Password' %} </td>
                            <td>{{ form.pwd }}<br/>{{ form.pwd.errors }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'From User' %}</td>
                            <td>{{ form.from_user }}<br/>{{ form.from_user.errors }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'Server' %}</td>
                            <td>{{ form.server }}<br/>{{ form.server.errors }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

        </div>





        <p id="buttons">
            <input type="submit" value="{% trans 'Save' %}"/>
        </p>
    </form>

{% endblock content %}

{% block content_sidebar %}

{% endblock content_sidebar %}