{% extends 'invoices/base.html' %}
{% load i18n %}

{% block extra_head %}
    {{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/libs/jquery-ui-1.7.1.custom.min.js"></script>
    <link type="text/css" rel="Stylesheet" media="screen" href="{{ MEDIA_URL }}css/invoices/company.css"/>
    <link type="text/css" rel="Stylesheet" media="screen" href="{{ MEDIA_URL }}css/invoices/jquery-ui-1.7.2.custom.css"/>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/invoices/company.js"></script>
{% endblock extra_head %}

{% block content_id_title %}<h1>{% trans 'Configure your company' %}</h1>{% endblock %}

{% block jquery %}
    {% if there_are_errors %}
        $("#show_contact_information").click();
    {% endif %}
{% endblock jquery %}

{% block content %}
    <form action="/invoices/company/" method="POST" enctype="multipart/form-data">
        <h2 class="headline">{% trans 'Legal Information' %}</h2>
        <table>
            <tr>
                <td><label for="title">{% trans 'Title' %}</label></td>
                <td>
                     {{ form.title }}
                    <br/>
                    {{ form.title.errors }}
                </td>
            </tr>
            <tr>
                <td><label for="legal_name">{% trans 'Legal Name' %}</label></td>
                <td>
                    {{ form.legal_name }}
                <br>
                    {{ form.legal_name.errors }}
                </td>
            </tr>
            <tr>
                <td><label for="nif">{% trans 'Nif' %}</label></td>
                <td>
                    {{ form.nif }}
                <br>
                    {{ form.nif.errors }}
                </td>
            </tr>
            <tr>
                <td><label for="tax">{% trans 'Tax' %}</label></td>
                <td>
                    {{ form.tax }}
                <br>
                    {{ form.tax.errors }}
                </td>
            </tr>
            <tr>
                <td><label for="retention">{% trans 'Retention' %}</label></td>
                <td>
                    {{ form.retention }}
                <br>
                    {{ form.retention.errors }}
                </td>
            </tr>
            <tr>
                <td><label for="photo">{% trans 'Logo' %}</label></td>
                <td>
                    {{ form.photo }}
                <br>
                    {{ form.photo.errors }}
                </td>
            </tr>
        </table>

        <h2 class="headline">{% trans 'Extra information' %}</h2>

        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">{% trans 'Email addresses' %}</a></li>
                <li><a href="#tabs-2">{% trans 'Addresses' %}</a></li>
                <li><a href="#tabs-3">{% trans 'Phones' %}</a></li>
                <li><a href="#tabs-4">{% trans 'Websites' %}</a></li>
                <li><a href="#tabs-5">{% trans 'Instant Messaging' %}</a></li>
                <li><a href="#tabs-6">{% trans 'Email Host Settings' %}</a></li>
                <li><a href="#tabs-7">{% trans 'Contact Types' %}</a></li>
            </ul>

            <div id="contact_information" >
                <div id="tabs-1">
                    {{ formsets.email_formset.management_form }}
                    <table>
                        {% for form in formsets.email_formset.forms %}
                            {{ form.id }}
                            <tr><td>{% trans 'Delete' %}</td><td>{{ form.DELETE }}</td></tr>
                            <tr>
                                <td>Email</td>
                                <td>{{ form.address }}<br/>{{ form.address.errors }}</td>
                            </tr>
                            <tr>
                                <td>{% trans 'Contact type' %} </td>
                                <td>{{ form.contact_type }}<br/>{{ form.contact_type.errors }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                <div id="tabs-2">
                    {{ formsets.address_formset.management_form }}
                    <table>
                        {% for form in formsets.address_formset.forms %}
                            {{ form.id }}
                            <tr><td>{% trans 'Delete' %}</td><td>{{ form.DELETE }}</td></tr>
                            <tr>
                                <td>{% trans 'Street'%}</td>
                                <td>{{ form.street}}<br/>{{ form.street.errors }}</td>
                            </tr>
                            <tr>
                                <td>{% trans 'City'%}</td>
                                <td>{{ form.city}}<br/>{{ form.city.errors }}</td>
                            </tr>
                            <tr>
                                <td>{% trans 'State'%}</td>
                                <td>{{ form.state}}<br/>{{ form.state.errors }}</td>
                            </tr>
                            <tr>
                                <td>{% trans 'Zip Code'%}</td>
                                <td>{{ form.zipcode }}<br/>{{ form.zipcode.errors }}</td>
                            </tr>
                            <tr>
                                <td>{% trans 'Country'%}</td>
                                <td>{{ form.country }}<br/>{{ form.country.errors }}</td>
                            </tr>
                            <tr>
                                <td>{% trans 'Contact type' %} </td>
                                <td>{{ form.contact_type }}<br/>{{ form.contact_type.errors }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                <div id="tabs-3">
                    {{ formsets.phone_formset.management_form }}
                    <table>
                        {% for form in formsets.phone_formset.forms %}
                            {{ form.id }}
                            <tr><td>{% trans 'Delete' %}</td><td>{{ form.DELETE }}</td></tr>
                            <tr>
                                <td>{% trans 'Number' %}</td>
                                <td>{{ form.number }}<br/>{{ form.number.errors }}</td>
                            </tr>
                            <tr>
                                <td>{% trans 'Contact type' %} </td>
                                <td>{{ form.contact_type }}<br/>{{ form.contact_type.errors }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                <div id="tabs-4">
                    {{ formsets.website_formset.management_form }}
                    <table>
                        {% for form in formsets.website_formset.forms %}
                            {{ form.id }}
                            <tr><td>{% trans 'Delete' %}</td><td>{{ form.DELETE }}</td></tr>
                            <tr>
                                <td>{% trans 'URL' %}</td>
                                <td>{{ form.url }}<br/>{{ form.url.errors }}</td>
                            </tr>
                            <tr>
                                <td>{% trans 'Contact type' %} </td>
                                <td>{{ form.contact_type }}<br/>{{ form.contact_type.errors }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                <div id="tabs-5">
                    {{ formsets.im_formset.management_form }}
                    <table>
                        {% for form in formsets.im_formset.forms %}
                            {{ form.id }}
                            <tr><td>{% trans 'Delete' %}</td><td>{{ form.DELETE }}</td></tr>
                            <tr>
                                <td>Email</td>
                                <td>{{ form.im }}<br/>{{ form.im.errors }}</td>
                            </tr>
                            <tr>
                                <td>{% trans 'Contact type' %} </td>
                                <td>{{ form.contact_type }}<br/>{{ form.contact_type.errors }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                <div id="tabs-6">
                    <table>
                        <tr>
                            <td>{% trans 'Host' %}</td>
                            <td>{{ form.host }}<br/>{{ form.host.errors }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'Password' %} </td>
                            <td>{{ form.pwd }}<br/>{{ form.pwd.errors }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'From User' %}</td>
                            <td>{{ form.from_user }}<br/>{{ form.from_user.errors }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'Server' %}</td>
                            <td>{{ form.server }}<br/>{{ form.server.errors }}</td>
                        </tr>
                    </table>
                </div>

                <div id="tabs-7">
                    {% if contact_types
_formset %}
                        <p>sadas</p>
                        {{ contact_types_formset.as_table }}
                    {% else %}
                        <p>oii</p>
                    {% endif %}
                    {{ contact_types_formset.management_form }}
                    <table>
                        {% for form in contact_types_formset.forms %}
                            {{ form.id }}
                            <tr>
                                <td>{% trans 'Delete' %}</td><td>{{ form.DELETE }}</td></tr>
                                <td>{% trans 'Type' %}: </td>
                                <td>{{ form.description }}<br/>{{ form.description.errors }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

            </div>
        </div>

        <p id="buttons">
            <input type="submit" value="{% trans 'Save' %}"/>
        </p>
    </form>

{% endblock content %}

{% block content_sidebar %}

{% endblock content_sidebar %}