{% extends 'invoices/base.html' %}
{% load i18n %}

{% block extra_head %}
    {{ block.super }}
    <link type="text/css" rel="Stylesheet" media="screen" href="{{ MEDIA_URL }}css/invoices/index.css"/>
    <link type="text/css" rel="Stylesheet" media="screen" href="{{ MEDIA_URL }}css/invoices/index_2.css"/>
{% endblock extra_head %}

{% block content_id_title %}
    <h1>
        {% trans 'Contract overview' %}
    </h1>
{% endblock %}

{% block content %}
    <div class="list_items" id="contracts">
        {% if contracts %}
            {% for contract in contracts %}
                <h3><a href="{{ contract.get_absolute_url }}">{{ contract.description }}</a></h3>
                <table class="activity">
                    <tr>
                        <td class="description">
                            <div class="item_content">
                                <p><label>{% trans 'Client' %}: </label>{{ contract.company }}</p>
                                <p><label>{% trans 'Total' %}: </label>{{ contract.total }}</p>
                                <p><label>{% trans 'To pay' %}: </label>{{ contract.to_pay }}</p>
                                <p>
                                    <label>{% trans 'Approved' %}: </label>
                                    {% if contract.approved %}
                                        {% trans 'Yes' %}
                                    {% else %}
                                        {% trans 'No' %}
                                    {% endif %}
                                </p>
                                <p>
                                    <label>{% trans 'Finished' %}: </label>
                                    {% if contract.finished %}
                                        {% trans 'Yes' %}
                                    {% else %}
                                        {% trans 'No' %}
                                    {% endif %}
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>
            {% endfor %}
            <h3 class="show_more"><a href="/invoices/contract/">{% trans 'Show all' %}</a></h3>
        {% else %}
            {% trans "There aren't contracts" %}
        {% endif %}
    </div>

{% endblock content %}

{% block content_sidebar %}

{% endblock content_sidebar %}



