{% extends 'invoices/new_receipt.html' %}
{% load i18n %}

{% block extra_head %}
    {{ block.super }}
    <link type="text/css" rel="Stylesheet" media="screen" href="{{ MEDIA_URL }}css/invoices/receipt.css"/>

    <script type="text/javascript" src="{{ MEDIA_URL }}js/invoices/receipt.js"></script>

    <link type='text/css' href='{{ MEDIA_URL }}css/invoices/basic.css' rel='stylesheet' media='screen' />
    <script type="text/javascript" src="{{ MEDIA_URL }}js/invoices/edit_receipt.js"></script>

{% endblock extra_head %}

{% block content_id_title %}
    <h1>
        {% if receipt_is_not_editable %}
            {% trans 'Viewing receipt nr. ' %}{{ receipt.id }}
        {% else %}
            {% trans 'Editing receipt nr. ' %}{{ receipt.id }}
        {% endif %}
    </h1>
{% endblock %}

{% block jquery %}
    {% if receipt_is_not_editable %}
        receipt_is_not_editable();
    {% else %}
        if ($('#id_con-contract').val()!="")
            set_with_project_functions();
        else{
            add_new_row('table_details');
            set_without_project_functions();
        }
    {% endif %}
{% endblock jquery %}

{% block content_data_form %}
    <form name="myForm" id="myForm" method="POST" action="{{ receipt.get_absolute_url }}">
{% endblock content_data_form %}

{% block content_data_submit %}
    <input type="submit" value="{% trans 'Save' %}" onclick="save();"/>
    <a href="javascript:history.back()">Cancel</a>
{% endblock content_data_submit %}

{% block content_sidebar %}
   <p><a class="navbutton" href="/invoices/receipt/download_document/{{ receipt.pk }}/">{% trans "Download Receipt" %}</a></p>
    <p><a class="navbutton" href="/invoices/receipt/send_document/{{ receipt.pk }}/">{% trans "Send Receipt" %}</a></p>
{% endblock content_sidebar %}