{% extends 'invoices/new_receipt.html' %}
{% load i18n %}

{% block extra_head %}
    {{ block.super }}
    <link type="text/css" rel="Stylesheet" media="screen" href="{{ MEDIA_URL }}css/invoices/receipt.css"/>

    <script type="text/javascript" src="{{ MEDIA_URL }}js/invoices/receipt.js"></script>

    <link type='text/css' href='{{ MEDIA_URL }}css/invoices/basic.css' rel='stylesheet' media='screen' />
    <script type="text/javascript" src="{{ MEDIA_URL }}js/invoices/edit_receipt.js"></script>

{% endblock extra_head %}

{% block content_id_title %}<h1>{% trans 'Editing receipt nr. ' %}{{ receipt.id }}</h1>{% endblock %}

{% block jquery %}
    {% if receipt_is_not_editable %}
        receipt_is_not_editable();
    {% else %}
        if ($('#id_con-contract').val()!="")
            set_with_project_functions();
        else
            set_without_project_functions();
    {% endif %}
{% endblock jquery %}

{% block content_data_form %}
    <form name="myForm" id="myForm" method="POST" action="{{ receipt.get_absolute_url }}">
{% endblock content_data_form %}

{% block content_data_submit %}
    <a onclick="save_receipt();" class="navbutton">{% trans 'Save' %}</a>
{% endblock content_data_submit %}

{% block content_sidebar %}
    <p><a class="navbutton" href="/invoices/receipt/receipt_document/{{ receipt.pk }}/">{% trans "Send Receipts" %}</a></p>
    {% if PROJECT %}
        <p><a class="navbutton">{% trans "Import Milestones" %}</a></p>
    {% endif %}
{% endblock content_sidebar %}