{% extends 'invoices/base.html' %}
{% load i18n %}

{% block extra_head %}
    {{ block.super }}
    <link type="text/css" rel="Stylesheet" media="screen" href="{{ MEDIA_URL }}css/invoices/last_output.css"/>
{% endblock extra_head %}

{% block content_id_title %}
    <h1>
        {% trans 'Task completed' %}
    </h1>
{% endblock %}

{% block content %}
    <div id="main">
        <h1>{{ message }}</h1>
    </div>
{% endblock content %}

{% block content_sidebar %}

{% endblock content_sidebar %}



