{% extends 'invoices/base.html' %}
{% load i18n %}

{% block extra_head %}
    {{ block.super }}
    <link type="text/css" rel="Stylesheet" media="screen" href="{{ MEDIA_URL }}css/invoices/receipt.css"/>

    <script type="text/javascript" src="{{ MEDIA_URL }}js/invoices/receipt.js"></script>

    <link type='text/css' href='{{ MEDIA_URL }}css/invoices/basic.css' rel='stylesheet' media='screen' />

    <!--   For modal window   -->
    <script src='{{ MEDIA_URL }}js/invoices/jquery.simplemodal.js' type='text/javascript'></script>
    <script src='{{ MEDIA_URL }}js/invoices/jqModal.js' type='text/javascript'></script>
    <link type="text/css" rel="Stylesheet" media="screen" href="{{ MEDIA_URL }}css/invoices/modal.css"/>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/invoices/new_receipt.js"></script>

{% endblock extra_head %}

{% block jquery %}
    {% if there_are_errors %}
        if (!isNaN(parseInt($('#id_con-contract').val()))){

            set_with_project_functions();
        }
        else{

            add_new_row('table_details');
            set_without_project_functions();
        }
    {% else %}
        $('#have_contract').jqmShow({autofire: true,});
    {% endif %}
{% endblock jquery %}

{% block content_id_title %}<h1>{% trans 'Create a new Receipt' %}</h1>{% endblock %}

{% block content %}
    <input type="hidden" value={{ tax }} id="tax"/>
    <input type="hidden" value={{ retention }} id="retention"/>
    <input type="hidden" value="{% trans 'Select an Item' %}" id="select_item"/>

    {% block content_data_form %}
        <form name="myForm" id="myForm" method="POST" action="/invoices/receipt/add/">
    {% endblock content_data_form %}

        {{ formset.management_form }}

        <div id="document_header">
            <h3>{% trans 'Receipt Information' %}</h3>
            {{ receipt_form.contract }}
            {{ receipt_form.id }}
            <table>

                <tr>
                    <td class="green_receipt"><label for="green_receipt">{% trans 'Green receipt nr.' %} </label></td>
                    <td class="green_receipt">
                        {{ receipt_form.green_receipt}}
                        <br/>
                        {{ receipt_form.green_receipt.errors }}
                    </td>
                </tr>

                <tr>
                    <td><label for="description">{% trans 'Receipt description' %} </label></td>
                    <td id="description">
                        {{ receipt_form.description }}
                        <br/>
                        {{ receipt_form.description.errors }}
                    </td>
                </tr>

                <tr>
                    <td><label for="company">{% trans 'Company' %} </label></td>
                    <td>
                        {{ receipt_form.company }}<a href=""><img title="{% trans 'Add New Company' %}" src="{{ MEDIA_URL }}images/invoices/add.png"></a>
                        <br/>
                        {{ receipt_form.company.errors }}
                    </td>
                </tr>

                {% if PROJECT %}
                    <tr>
                        <td><label for="project">{% trans 'Project' %} </label></td>
                        <td>
                            {{ receipt_form.project }}<a href="/projects/add/"><img title="{% trans 'Add New Project' %}" src="{{ MEDIA_URL }}images/invoices/add.png"></a>
                            <br/>
                            {{ receipt_form.project.errors }}
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>

        <div id="document_details">
            <h3>{% trans 'Document Details' %}</h3>
            <table class="stripes" id="table_details">
                <tr>
                    <th class="headers">{% trans "Delete" %}</th>
                    <th class="headers">{% trans "Description" %}</th>
                    <th class="headers">{% trans "Unity Cost" %}</th>
                    <th class="headers">{% trans "Quantity" %}</th>
                    <th class="headers">{% trans "Total" %}</th>
                    <th class="headers">{% trans "To Pay" %}</th>
                    <th id ="hide_1" class="taxes hide_headers headers">{% trans "Tax (%)" %}</th>
                    <th id="hide_1" class="taxes hide_headers headers">{% trans "Retention (%)" %}</th>
                </tr>

                {% for form in formset.forms %}
                    {{ form.id }}
                    <tr>
                        <td class="select headers">{{ form.DELETE }}</td>
                        <td class="description headers">{{ form.description }}<br/>{{ form.description.errors }}</td>
                        <td class="unity_cost headers">{{ form.unity_cost }}<br/>{{ form.unity_cost.errors }}</td>
                        <td class="quantity headers">{{ form.quantity }}<br/>{{ form.quantity.errors }}</td>
                        <td class="total headers">{{ form.total}}<br/>{{ form.total.errors }}</td>
                        <td class="to_pay headers">{{ form.to_pay}}<br/>{{ form.to_pay.errors }}</td>
                        <td class="hidden">{{ form.contract_detail }}</td>
                        <td class="hidden">{{ form.total_payed }}</td>
                        <td id="hide_1" class="taxes hide_1 headers">{{ form.tax }}<br/>{{ form.tax.errors }}</td>
                        <td id="hide_1" class="taxes hide_1 headers">{{ form.retention }}<br/>{{ form.retention.errors }}</td>
                        <td class="image"><img id="hide_button_1" width="28px" src="{{ MEDIA_URL }}images/invoices/show.png"/></a></td>
                    </tr>{% endfor %}
            </table>
            <p id="avaiable">{% trans 'Add another item:' %} <span id="for_avaiable_items"></span></p>
        </div>

        <div id="finals">
            <h3>{% trans 'Document Totals' %}</h3>
            <table>
                <tr>
                    <td><label for="total_impact_value">{% trans 'Impact Value' %} </label></td>
                    <td>
                        {{ receipt_form.total_impact_value }}
                        <br/>
                        {{ receipt_form.total_impact_value.errors }}
                    </td>
                </tr>
                <tr>
                    <td><label for="total_tax_value">{% trans 'Tax Value' %} </label></td>
                    <td>
                        {{ receipt_form.total_tax_value }}
                        <br/>
                        {{ receipt_form.total_tax_value.errors }}
                    </td>
                </tr>
                <tr>
                    <td><label for="total_retention_value">{% trans 'Retention Value' %} </label></td>
                    <td>
                        {{ receipt_form.total_retention_value }}
                        <br/>
                        {{ receipt_form.total_retention_value.errors }}
                    </td>
                </tr>
                <tr>
                    <td><label for="date">{% trans 'Total' %} </label><span class="input"></td>
                    <td>
                        {{ receipt_form.total }}
                        <br/>
                        {{ receipt_form.total.errors }}
                    </td>
                </tr>
            </table>
        </div>

        <div class="submit">
            <p>
                {% block content_data_submit %}
                    <input type="submit" value="{% trans 'Create' %}" onclick="save();"/>
                    <a href="javascript:history.back()">Cancel</a>
                {% endblock content_data_submit %}
            </p>
        </div>
    </form>

    <div class="jqmWindow" id="have_contract">
        <p id="close" >
            <input class="jqmdX jqmClose" type="image" src="{{ MEDIA_URL }}images/invoices/closeFocus.png"/>
        </p>
        <div id="content">
            <hr></hr>
            <h3>{% trans 'Does this receipt belongs to a contract?' %}: </h3>
            <div id="buttons">
                <p>
                    <a class="navbutton jqmClose" onclick="have_contract()" id="have">{% trans 'Yes' %}</a>
                    <a class="navbutton jqmClose" onclick="set_without_project_functions()">{% trans 'No' %}</a>
                </p>
            </div>
        </div>
    </div>

    <div id="contracts">
        <hr></hr>
        <h3>{% trans 'Choose a contract' %}: </h3>
        <p>{% trans 'Contract' %}: <select id="contractsAjax"></select></p>
        <table class="stripes" id="contracts_table">
            <tr>
                <th class="select_header headers">{% trans 'Select all' %}<input type="checkbox" id ="select_all" onclick="select_all()"/></th>
                <th class="title headers"> {% trans 'Description' %}</th>
            </tr>
            <tr>
                <td class="select"><input type="checkbox"/></td >
                <td class="title"></td>
                <td class="id"><input type="hidden"></td>
                <td class="total_payed"><input type="hidden"></td>
            </tr>
        </table>

        <div id="buttons">
            <p>
                <a class="navbutton jqmClose" id="jqmOk">{% trans 'Ok' %}</a>
                <a class="navbutton jqmClose" id="jqmClose" >{% trans 'Close' %}</a>
            </p>
        </div>
    </div>
    <span id="tooltip"></span>
{% endblock content %}

{% block content_sidebar %}
    {% if PROJECT and not receipt_is_not_editable %}
        <p><a id="importMilestones" class="navbutton">{% trans "Import Milestones" %}</a></p>
    {% endif %}
{% endblock content_sidebar %}