{% extends 'invoices/base.html' %}
{% load i18n %}

{% block extra_head %}
    {{ block.super }}
    <link type="text/css" rel="Stylesheet" media="screen" href="{{ MEDIA_URL }}css/invoices/index.css"/>
{% endblock extra_head %}

{% block content_id_title %}
    <h1>
        {% trans 'Receipts overview' %}
    </h1>
{% endblock %}

{% block content %}
    <div id="receipts">
        <h2>{% trans 'Receipts' %}</h2>
        {% if receipts %}
            <table class="stripes" id="list_table" style="width:100%">
                <tr>
                    <th class="center">{% trans "Description" %}</th>
                    <th class="center">{% trans "Contract" %}</th>
                    <th class="center">{% trans "Client" %}</th>
                    <th class="center">{% trans "Total" %}</th>
                    <th class="center">{% trans "Sent" %}</th>
                </tr>
                {% for receipt in receipts %}
                    <tr>
                        <td><a href="{{receipt.get_absolute_url }}">{{ receipt.description }}</a></td>
                        <td><a href="{{receipt.contract.get_absolute_url }}">
                            {% if receipt.contract %}
                                {{ receipt.contract.description }}
                            {% else %}
                                {% trans 'No' %}
                            {% endif %}
                        </a></td>
                        <td><a href="{{receipt.get_absolute_url }}">{{ receipt.company }}</a></td>
                        <td class="number"><a href="{{receipt.get_absolute_url }}">{{ receipt.total }}</a></td>
                        <td class="center"><a href="{{receipt.get_absolute_url }}">
                            {% if receipt.sent %}
                                {% trans 'at' %} {{ receipt.sent_date }}
                            {% else %}
                                {% trans 'No' %}
                            {% endif %}
                        </a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            {% trans "There aren't receipts" %}
        {% endif %}
    </div>

{% endblock content %}

{% block content_sidebar %}

{% endblock content_sidebar %}



