fieldset { border: none; }
legend { font-weight: bold; }

/* forms */
input, textarea { padding: 3px; font-family: Arial, "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif; vertical-align: middle; }
select { padding: 0 8px 0 2px; }
select option { padding: 0 2px; }
input[type=submit] { padding: 2px; margin-right: 5px; }
label {  }

.label { float: left; width: 50px; padding: 4px 2px 0 0; text-align: right; }
.field input, .field textarea { padding: 3px; border: 1px solid #D6D6D6; border-top-color: #939393; border-left-color: #939393; }
.checkbox { vertical-align: middle; }

    .form { font-family: Arial; }
    .form h3 { color: #555; }
    .form p { clear: both; padding: 2px 0; }
    form p input, form p textarea { border: 1px solid; border-color: #888 #CCC #CCC #888; }
    .form label, .form input[type=text], .form textarea { color: #555; }
    .form .errorlist { clear: both; color: red }
    .form .focused { background: #FFF9DF; }
    .form .buttons { padding: 20px 0; }
    .form .cancel {  }

    .form .field { padding: 6px 0; }
    .form .field label { display: block; }
    .form .field input[type=text] { width: 250px; }
    .form .field input[type=checkbox] { vertical-align: middle; }

    .form .inline { clear: both; }
    .form .inline label { float: left; width: 120px;  }
    .form .inline input { float: left; width: 200px; margin-right: 5px; }
    .form .inline .errorlist { padding: 0 0 5px 120px; }

    .form .submit { padding-top: 20px; }

    .formset { padding: 10px 10px 20px; }
    .formset div { clear: both; padding: 8px 0 2px }
    .formset .splitcol { clear: none; float: left; padding-right: 20px; }

#contacts label { float: none; width: auto; display: block; padding: 2px 0;  }


.add-note { padding-bottom: 20px; }
    .add-note p { padding: 5px 0; }
    .add-note textarea { width: 80%; height: 150px }

/* inline forms */

.inline-form p { padding: 10px 0; display: block; }
.inline-form label { padding: 0 0 5px; display: block; }

/* simple forms */
.inlineLabels label { float: left; width: 90px; padding-right: 10px; font-weight: bold; color: #666; }
.inlineLabels p { clear: both; }
.inlineLabels .form_block { padding: 4px 0 4px 100px;  }