.clear-float-left { clear:both; float: left; }
    .clear-float-left img { margin: 5px 5px 5px 0; }

.clear-float-right { clear:both; float: right; }
    .clear-float-right img { margin: 5px 0 5px 5px; }

.clear-text-center { clear: both; text-align: center; }

.clear { clear: both; }

.widget-block { position: relative; padding-right: 100px; }
.widget-block:hover { cursor: move;  }

.widget-block .widget-options { position: absolute; right: 5px; top: 12px; width: 90px; }

.widget-options a { display: block; padding: 2px 0 2px 15px; background: url(../images/icons/icon_changelink.gif) no-repeat left 6px;
    text-decoration: none; }
.widget-options a:hover { text-decoration: underline; }
.widget-options a.widget-remove { background-image: url(../images/icons/icon_actionlist-deletelink.gif); color: #CC3D3D }
.widget-options a.widget-move_up { background-image: url(../images/icons/icon_th_descending.png); color: #9cbe62 }
.widget-options a.widget-move_down { background-image: url(../images/icons/icon_th_ascending.png); color: #9cbe62 }


.widget-media-block { z-index: 2; padding: 0 0 20px; }
/*.w21-image { clear: both; height: 16px; padding-top: 30px; margin: 0 0 30px 0; font-weight: bold; border-bottom: 1px solid #222; } */
    .widget-media-block .widget-options { width: 100%; top: auto; }
    .widget-media-block .widget-options a { display: inline; margin: 0 0 0 12px; background-position: center left; }

#story-content li:hover { cursor: move; }





#textarea-editor_parent { float: left; }
.text-editor .lb-options { float: left; width: 190px; padding: 0 0 0 10px; }