{% extends "newsletter/base.html" %}
{% load i18n %}


{% block breadcrumbs %}
    {{ block.super }}
        {% if add %}
            <span class="active">Add newsletter</span>
        {% else %}
            <span class="active">Edit newsletter</span>
        {% endif %}
{% endblock %}


{% block content %}
    <form class="form" action="{{ newsletter.get_edit_url }}" method="post">

        <p class="field">
            <label>Title</label>
            {{ form.title }}
        </p>
        {{ form.title.errors }}

        <p class="field">
            <label> Url <span class="light">(Insert the Newsletter Url)</span></label>
            {{ form.url }}
        </p>
        {{ form.url.errors }}

        <!--<p class="field">-->
            <!--<label>Content <span class="light">(Insert content)</span></label>-->
            <!--{{ form.content }}-->
        <!--</p>-->
        <!--{{ form.content.errors }}-->

        <!--<p class="field">-->
            <!--<label>View Newsletter Count <span class="light">(Reset view count by inserting "0")</span></label>-->
            <!--{{ form.view_count }}-->
        <!--</p>-->
        <!--{{ form.view_count.errors }}-->

        <p class="field">
            <label>Group <span class="light">(Link group users)</span></label>
            {{ form.group }}
        </p>
        {{ form.group.errors }}

        <p class="submit">
            <input type="submit" value="Save Newsletter" />
            <a href="javascript:history.back()">Cancel</a>
        </p>

    </form>
{% endblock %}