{% extends "base.html" %}
{% block extra_head %}
<link type="text/css" rel="Stylesheet" media="screen" href="{{ STATIC_URL }}css/newsletter.css"/>
<script type="text/javascript" src="{{ STATIC_URL }}/js/common/forms.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/js/newsletters/newsletters.js"></script>
{% endblock %}
{% load i18n %}

{% block main_navigation %}
<li><a href="/" class="navbutton">Overview</a></li>
<li><a href="/newsletter/" class="navbutton active">{% trans "Newsletters" %}</a></li>
<li><a href="/newsletter/subscriber-list" class="navbutton active">{% trans "Subscribers" %}</a></li>
<li><a href="/newsletter/group-list" class="navbutton active">{% trans "Groups" %}</a></li>
{% endblock %}


{% block breadcrumbs %}
<a href="/">Dashboard</a> » <a href="/newsletter/">Newsletter</a> » {% block active_breadcrumb %}{% endblock %}
{% endblock %}

{% block content_action %}
<p>
    <a class="navbutton" href="/newsletter/add-newsletter/">{% trans "Add a Newsletter" %}</a>
</p>
{% endblock %}