{% extends "base.html" %}
{% load i18n %}
{% load navigation_tags %}

{% block extra_head %}
<link type="text/css" rel="Stylesheet" media="screen" href="{{ MEDIA_URL }}css/newsletters/index.css"/>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/common/forms.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/newsletters/newsletters.js"></script>
<script type="text/javascript" src="http://jqueryui.com/latest/jquery-1.3.2.js"></script>
{% endblock %}

{% block content_id_title %}<h1>Overview</h1>{% endblock %}

{% block content_id_links %}
    {% url newsletter_add as newsletter_add_url %}
    {% url group_create as group_add_url %}
    {% url subscriber_create as subscriber_add_url %}


    {% get_link_if_allowed  newsletter_add_url "Add Newsletter" %}
    {% get_link_if_allowed  group_add_url "Add Group" %}
    {% get_link_if_allowed  subscriber_add_url "Add Subscriber" %}
    
{% endblock %}




