{% extends "newsletter/base.html" %}
{% load i18n %}
{% load navigation_tags %}


{% block content_id_title %}<h1>{{ newsletter }}</h1>{% endblock %}

{% block content_id_links %}
{% endblock %}

{% block secondary_nav %}
    <ul>
    {% url newsletter_edit newsletter.id as newsletter_edit_url %}
    {% url newsletter_send newsletter.id as newsletter_analytics_url %}
    {% url newsletter_send newsletter.id as newsletter_send_url %}
    
    {% get_link_if_allowed newsletter_edit_url "Edit" %}
    {% get_link_if_allowed newsletter_analytics_url "Analytics" %}
    {% get_link_if_allowed newsletter_send_url "Send" %}

    </u>
{% endblock %}


{% block content %}


    <div class="newsletter">
        <p class="role" style="padding-top: 10px; font-size: 1.6em;">
            <table width="600">
                <tr>
                    <td><h3> URL : </h3></td>
                    <td><a href="{{ newsletter.url }}">{{ newsletter.url }}</a> </td>
                </tr>
                <tr>
                    <td><h3> Created : </h3></td>
                    <td> {{ newsletter.created.date }} </td>
                </tr>
                <tr>
                    <td><h3> Modifed : </h3></td>
                    <td> {{ newsletter.modified.date }} </td>
                </tr>
                <tr>
                    <td><h3> View count : </h3></td>
                    <td> {{ newsletter.view_count }} </td>
                </tr>
            </table>
            <!--{{ newsletter.group }}-->
            </p>
        <br class="clearboth" />
    </div>
    <div>
     <img src={{chartpath}} alt="Chart">
    </div>

{% endblock %}


{% block content_action %}

    <p>
        <a href="/newsletter/newsletter-send/{{newsletter.id}}" title="{% trans 'Send Newsletter' %}" class="navbutton">{% trans 'Send Newsletter' %}</a>
    </p>

{% endblock %}
