{% extends "newsletter/base.html" %}
{% load i18n %}
<!--{% load navigation_tags %}-->

{% block extra_head %}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/newsletters/index.css" charset="utf-8" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/libs/json.class.js" charset="utf-8"></script>
<script src="http://raphaeljs.com/raphael.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/libs/newsletters/g.raphael-min.js" charset="utf-8"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/libs/newsletters/g.pie-min.js" charset="utf-8"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/libs/newsletters/g.bar-min.js" charset="utf-8"></script>
<script type="text/JavaScript" src="{{ MEDIA_URL }}js/newsletters/dashboard.js" charset="utf-8"></script>
<!--<script type="text/JavaScript" src="{{ MEDIA_URL }}js/newsletters/FusionCharts.js" charset="utf-8"></script>-->
{% endblock %}


{% block jquery %}

    get_dashboard();

{% endblock jquery %}

{% block content_id_title %}<h1>{% trans 'Dashboard' %}</h1>{% endblock %}

{% block content %}
<div id= dashboard_wapper>
    <h2>{% trans 'Sent Newsletters' %}</h2><br/>
    <div id="sent" class="sent_newsletters" >

            {% for item in latest %}
            <div class="newsletter-row">
                <h3><!--<a href="{{ item.get_absolute_url }}">-->{{ item.get_time}}</a></h3>
            </div>
            <table class="activity">
                <tr>
                    <td >:: Newsletter {{ item.newsletter }} ::</td>
                </tr>
            </table>
            {% endfor %}
    </div>
    
<div id="holder" style="float:left; height: 400px; width: 500px;"></div>
</div>
{% endblock %}