{% extends "newsletter/base.html" %}
{% load i18n %}
{% load navigation_tags %}

{% block content_id_title %}<h1> Groups</h1>{% endblock %}


{% block content %}
    <!--{% for item in object_list %}-->
            <!--<td><a href="{{ item.get_edit_url }}">{{ item.name }}</a></td>-->
            <!--<td>{{ item.created.date }}</p></td>-->
    <!--{% endfor %}-->
<!--<div id ="group-activity">-->
    <!--<table class="activity">-->
    <!--<thead>-->
        <!--<tr>-->
            <!--<th><input type="checkbox"/></th>-->
            <!--<th><h2 class="headline">{% trans 'Group' %}</h2></th>-->
            <!--<th><h2 class="headline">{% trans 'Created' %}</h2></th>-->
            <!--<th><h2 class="headline">{% trans 'Followers' %}</h2></th>-->
        <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--{% for item in group %}-->
        <!--<tr>-->
            <!--<td>-->
                <!--<input type="checkbox"  class="select_all" value= {{item.id}} />-->
            <!--</td>-->
            <!--<td><a href="{{ item.get_edit_url }}">{{ item.name }}</a></td>-->
            <!--<td>{{ item.created.date }}</p></td>-->
        <!--</tr>-->
    <!--{% endfor %}-->
    <!--<tbody> -->
    <!--</table>-->
<!--</div>-->

<div class="newsletter_activity">

    {% for item in object_list %}
    <h3><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></h3>
    <table class="activity">
        <tr>
            <!--<td class="action"><span class="comment">:: type ::</span></td>-->
            <td class="description">
                <!--<div class="item_content">-->
                    <!--<a href="/">:: description ::</a>-->
                <!--</div>-->
            </td>
            <!--<td class="name">:: user ::</td>-->
            <td class="date">:: {{ item.created.date }} ::</td>
        </tr>
    </table>
    {% endfor %}
    
</div>





{% endblock %}