{% extends "newsletter/base.html" %}
{% load i18n %}
<!--{% load navigation_tags %}-->

{% block content_id_title %}<h1> {% trans 'Groups' %}</h1>{% endblock %}


{% block content %}

<div class="group_activity">

    {% for item in object_list %}
    <div class="group-row">
        <h3><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></h3>
            <div class="actions hidden">
                <span><a href="{{ item.get_absolute_url }}" class="edit"> {% trans 'view' %}</a>, </span>
                <span><a href="{{ item.get_absolute_url }}" class="edit"> {% trans 'edit' %}</a>,  </span>
                <span><a href="{{ item.get_delete_url }}" class="delete"> {% trans 'delete' %}</a> </span>
            </div>
    </div>
    <table class="activity">
        <tr>
            <!--<td class="action"><span class="comment">:: type ::</span></td>-->
            <td class="description">
                <!--<div class="item_content">-->
                    <!--<a href="/">:: description ::</a>-->
                <!--</div>-->
            </td>
            <!--<td class="name">:: user ::</td>-->
            <td class="date">:: {{ item.created.date }} ::</td>
        </tr>
    </table>
    {% endfor %}
</div>

{% endblock %}