{% extends "newsletter/base.html" %}
{% load i18n %}
{% load navigation_tags %}

{% block secondary_nav %}
    <ul>
    {% url newsletter_index as newsletter_index_url %}
    {% url  group_list as group_list_url %}
    {% url  subscriber_list as subscriber_list_url %}
    
    {% get_link_if_allowed newsletter_index_url "Newsletters" %}
    {% get_link_if_allowed group_list_url "Group List" %}
    {% get_link_if_allowed subscriber_list_url "Subscriber List" %}
    </ul>
{% endblock %}


{% block content %}
<div id ="newsletter-list">
    <div class="newsletter">
        <table id="list-table">
        <thead>
            <tr>
                <th><input type="checkbox"/></th>
                <th><h2 class="headline">{% trans 'Newsletter' %}</h2></th>
                <th><h2 class="headline">{% trans 'Created' %}</h2></th>
                <th><h2 class="headline">{% trans 'Viewed' %}</h2></th>
            </tr>
        </thead>
        <tbody>
        {% for item in newsletter %}
            <tr>
                <td>
                    <input type="checkbox"  class="select_all" value= {{item.id}} />
                </td>
                <td><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></td>
                <td>{{ item.created.date }}</p></td>
                <td>{{ item.view_count }}</p></td>
            </tr>
        {% endfor %}
        <tbody> 
        </table>
    </div>
</div>
{% endblock %}