{% extends "newsletter/newsletter_content.html" %}
{% load i18n %}
{% load navigation_tags %}

{% block content %}

<form method="POST" action="/newsletter/links/{{ object_id }}/">
  {{ formset.management_form }}
    {% for form in formset.forms %}

        {{ form.id }}
        {% ifnotequal form.link.text "unsubscribe" %}
            <ul>
                <li>
                    {{ form.link}} {{ form.link.errors }}
                    {{ form.slug }} {{ form.slug.errors }}
                    {{ form.click_count }} {{ form.click_count.errors }}
                    {{ form.DELETE}}
                </li>
            </ul>
        {% endifnotequal %}
    {% endfor %}


    <p class="submit">
        <input type="submit" value="Save Newsletter" />
        <a href="javascript:history.back()">Cancel</a>
    </p>

</form>


{% endblock %}
