{% extends "newsletter/base.html" %}
{% load i18n %}
{% load navigation_tags %}


{% block content_id_title %}<h1>{{ newsletter }}</h1>{% endblock %}


{% block secondary_nav %}
    <ul>
    {% url newsletter_send newsletter.id as newsletter_send_url %}
    {% url newsletter_edit newsletter.id as newsletter_edit_url %}
    {% url newsletter_analytics newsletter.id as newsletter_analytics_url %}
    {% url newsletter_delete newsletter.id as newsletter_delete_url %}

    {% get_link_if_allowed newsletter_send_url "Send" %}
    {% get_link_if_allowed newsletter_edit_url "Edit" %}
    {% get_link_if_allowed newsletter_analytics_url "Analytics" %}
    {% get_link_if_allowed newsletter_delete_url "Delete" %}
    </ul>
{% endblock %}


{% block content %}

<div class="newsletter">
    <p class="role" style="padding-top: 10px; font-size: 1.6em;">
        <table width="600">
            <tr>
                <td><h3> URL : </h3></td>
                <td><a href="{{ newsletter.url }}">{{ newsletter.url }}</a> </td>
            </tr>
            <tr>
                <td><h3> Created : </h3></td>
                <td> {{ newsletter.created.date }} </td>
            </tr>
            <tr>
                <td><h3> Modifed : </h3></td>
                <td> {{ newsletter.modified.date }} </td>
            </tr>
            <tr>
                <td><h3> View count : </h3></td>
                <td> {{ newsletter.view_count }} </td>
            </tr>
        </table>
        <!--{{ newsletter.group }}-->
        </p>
    <br class="clearboth" />
</div>
<div>


<div id="placeholder" style="width:600px;height:300px;"></div>



<style type="text/css" media="screen">
    #holder {
        height: 250px;
        margin: -125px 0 0 -400px;
        width: 800px;
    }
</style>

<table id="data_content">
            <tfoot>
                <tr>
                    <th>1</th>

                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>

                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                    <th>13</th>

                    <th>14</th>
                    <th>15</th>
                    <th>16</th>
                    <th>17</th>
                    <th>18</th>
                    <th>19</th>

                    <th>20</th>
                    <th>21</th>
                    <th>22</th>
                    <th>23</th>
                    <th>24</th>
                    <th>25</th>

                    <th>26</th>
                    <th>27</th>
                    <th>28</th>
                    <th>29</th>
                    <th>30</th>
                    <th>31</th>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td>8</td>
                    <td>25</td>
                    <td>27</td>

                    <td>25</td>
                    <td>54</td>
                    <td>59</td>
                    <td>79</td>
                    <td>47</td>
                    <td>27</td>

                    <td>44</td>
                    <td>44</td>
                    <td>51</td>
                    <td>56</td>
                    <td>83</td>
                    <td>12</td>

                    <td>91</td>
                    <td>52</td>
                    <td>12</td>
                    <td>40</td>
                    <td>8</td>
                    <td>60</td>

                    <td>29</td>
                    <td>7</td>
                    <td>33</td>
                    <td>56</td>
                    <td>25</td>
                    <td>1</td>

                    <td>78</td>
                    <td>70</td>
                    <td>68</td>
                    <td>2</td>
                </tr>
            </tbody>
        </table>
<div id="holder_content"></div>


</div>

{% endblock %}
