{% extends "newsletter/base.html" %}
{% load i18n %}
{% load navigation_tags %}

{% block secondary_nav %}
    <ul>
    <!--{% url newsletter_list as newsletter_list_url %}-->
    {% url  group_list as group_list_url %}
    {% url  subscriber_list as subscriber_list_url %}
    
    <!--{% get_link_if_allowed newsletter_list_url "Newsletters" %}-->
    {% get_link_if_allowed group_list_url "Group List" %}
    {% get_link_if_allowed subscriber_list_url "Subscriber List" %}
    </ul>
{% endblock %}


{% block content %}

<div class="newsletter_activity">

    {% for item in newsletter %}
    <h3><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h3>
    <table class="activity">
        <tr>
            <!--<td class="action"><span class="comment">:: type ::</span></td>-->
            <td class="description">
                <!--<div class="item_content">-->
                    <!--<a href="/">:: description ::</a>-->
                <!--</div>-->
            </td>
            <!--<td class="name">:: user ::</td>-->
            <td class="date">:: {{ item.created.date }} ::</td>
        </tr>
    </table>
    {% endfor %}
    
</div>

{% endblock %}