{% load i18n %}

<form class="form" action="{{ newsletter.get_edit_url }}" method="post">
<div id="edit_newsletter">
    <p class="field">
        <label>{% trans  'Title' %}</label>
        {{ form.title }}
    </p>
    {{ form.title.errors }}

    <p class="field">
        <label> {% trans  'Url' %} </span></label>
        {{ form.url }}
    </p>
    {{ form.url.errors }}
    
    <p class="field">
        <label>{% trans  'Groups' %} <span class="light">(Link group users)</span></label>
        {{ form.group }}
    </p>
    {{ form.group.errors }}
</div>

<div id="edit_links">
{{ formset.management_form }}

    {% for obj in formset.forms %}
        {{ obj.id }}

        <ul>
            <li>
                {{ obj.link}} {{ obj.link.errors }}
                {{ obj.label }} {{ obj.label.errors }}
                {{ obj.click_count }} {{ obj.click_count.errors }}
                <!--{{ form.DELETE}}-->
            </li>
        </ul>

    {% endfor %}

</div>

<div id="edit_submit" class="clear">
    <p class="submit">
        <input type="submit" value="{% trans  'Save Newsletters' %}" />
        <a href="javascript:history.back()">{% trans 'Cancel' %}</a>
    </p>
</div>
</form>
