{% extends "newsletter/newsletter_content.html" %}
{% load i18n %}
<!--{% load navigation_tags %}-->

{% block extra_head %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/libs/json.class.js" charset="utf-8"></script>
<script src="http://raphaeljs.com/raphael.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/libs/newsletters/g.raphael-min.js" charset="utf-8"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/libs/newsletters/g.pie-min.js" charset="utf-8"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/libs/newsletters/g.bar-min.js" charset="utf-8"></script>
<script type="text/JavaScript" src="{{ MEDIA_URL }}js/newsletters/analytics.js" charset="utf-8"></script>
<!--<script type="text/JavaScript" src="{{ MEDIA_URL }}js/newsletters/FusionCharts.js" charset="utf-8"></script>-->
{% endblock %}


{% block jquery %}

    get_links({{ newsletter.id }});

{% endblock jquery %}


{% block content %}

<div id="holder" style="height: 400px; width: 800px;"></div>

{% endblock %}