{% extends "newsletter/newsletter_content.html" %}
{% load i18n %}
{% load navigation_tags %}

{% block extra_head %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/libs/json.class.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/libs/newsletters/raphael.js"></script>s
<script type="text/JavaScript" src="{{ MEDIA_URL }}js/newsletters/FusionCharts.js"></script>
<script type="text/JavaScript" src="{{ MEDIA_URL }}js/newsletters/analytics.js"></script>
{% endblock %}



{% block jquery %}

    get_links({{ newsletter.id }});

{% endblock jquery %}


{% block content %}


<table width="98%" border="0" cellspacing="0" cellpadding="3" align="center">
    <tr>
        <td valign="top" class="text" align="center">
            <div id="chartdiv" align="center">
            FusionCharts.
            </div>
            <script type="text/javascript">
                var chart = new FusionCharts("{{ MEDIA_URL }}charts/FCF_Column3D.swf", "ChartId", "600", "350");
                chart.setDataURL("{{ MEDIA_URL }}data/Column3D.xml");
                chart.render("chartdiv");
            </script>
        </td>
    </tr>
    <tr>
        <td valign="top" class="text" align="center">&nbsp;</td>
     </tr>
</table>



<style type="text/css" media="screen">
            #holder {
                height: 250px;
                width: 800px;
            }
        </style>
    </head><body>
        <table id="data">
            <tfoot>
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td>8</td>
                    <td>25</td>
                    <td>27</td>
                    <td>25</td>
                    <td>54</td>
                    <td>59</td>
                    <td>79</td>
                    <td>47</td>
                    <td>27</td>
                    <td>44</td>
                    </tr>
            </tbody>
        </table>
        <div id="holder"></div>

{% endblock %}