{% extends "newsletter/newsletter_list.html" %}
{% load i18n %}

{% block content_id_title %}<h1>{% trans  'Delete Newsletters' %} "{{object}}"</h1>{% endblock %}

{% block content %}

    <form class="form" action="" method="post">
    
        <p> {% trans  'Do you want to delete the newsletter' %} "{{object}}" ? </p>

    
        <p class="submit">
            <input type="submit" value="{% trans  'Delete Newsletters' %}" />
            <a href="javascript:history.back()">Cancel</a>
        </p>
    
    </form>

{% endblock %}