{% extends "newsletter/base.html" %}
{% load i18n %}

{% block content %}
<form class="form" action="{{ newsletter.get_edit_url }}" method="post">

    <p class="field">
        <label>Title</label>
        {{ form.title }}
    </p>
    {{ form.title.errors }}

    <p class="field">
        <label> Url <span class="light">(Insert the Newsletter Url)</span></label>
        {{ form.url }}
    </p>
    {{ form.url.errors }}

    <p class="field">
        <label>Group <span class="light">(Link group users)</span></label>
        {{ form.group }}
    </p>
    {{ form.group.errors }}

    <p class="submit">
        <input type="submit" value="Create Newsletter" />
        <a href="javascript:history.back()">Cancel</a>
    </p>

</form>
{% endblock %}