<form class="form" action="{{ newsletter.get_edit_url }}" method="post">

    <p class="field">
        <label>{%trans 'Name' %}</label>
        {{ form.name }}
    </p>
    {{ form.name.errors }}

    <p class="field">
        <label> E-mail <span class="light">(Insert the Subscriber E-mail)</span></label>
        {{ form.email }}
    </p>
    {{ form.email.errors }}

    <p class="field">
        <label>{%trans 'Group' %}<span class="light">(Link User to Groups)</span></label>
        {{ form.group }}
    </p>
    {{ form.group.errors }}

    <p class="submit">
        <input type="submit" value="{%trans 'Save Subscriber' %}" />
        <a href="javascript:history.back()">{%trans 'Cancel' %}</a>
    </p>

</form>

