{% extends "projects/base.html" %}
{% load i18n %}

{% block content %}
<form class="form" action="{% url project_add %}" method="post">
    <p class="field">
        <label>Name</label>
        {{ form.name }}
    </p>
    {{ form.name.errors }}

    <p class="field">
        <label>Description <span class="light">(a one line description of your project)</span></label>
        {{ form.description }}
    </p>
    {{ form.description.errors }}

    <p class="submit">
        <input type="submit" value="Create Project" />
        <a href="javascript:history.back()">Cancel</a>
    </p>

</form>
{% endblock %}