<div class="task">
    <div class="task-details">
        <p>
            <span class="end_date">{{ task.end_date }}</span>
        </p>
        <h3>{{ task.title }}</h3>

        <div class="actions hidden">
            <span><a href="/task/save/{{ task.id }}/" class="edit">view</a>, </span>
            <span><a href="{% url projects.task.views.save project.id, task.id %}" class="edit">edit</a>,  </span>
            <span><a href="" class="delete">delete</a> </span>
        </div>
    </div>
    {% if task.todo_set.all.count %}
        <ul class="mile-item-list">
        {% for todo in task.todo_set.all %}
            <li>
                <p><a href="/todo/{{ todo.id }}/">{{ todo.title }}</a> <em>(Todo list)</em></p>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
</div>