#milestones .milist         { padding-bottom: 25px; }
        .milist h2              { padding-bottom: 2px; color: #FFF; padding: 2px 3px; }
        .milist.late h2         { background-color:#CC0000; }
        .milist.upcoming h2     { background-color: #FFCC00; }
        .milist.completed h2    { background-color: #009900; }

        .late .end_date      { color: #CC0000; font-weight:bold; }
        .upcoming .end_date  { color: #CC9933; font-weight:bold; }
        .completed .end_date { color: #009900; font-weight:bold; }

        #milestones .milestone { position: relative; border-bottom: 1px solid #eeeeee; }
            .milestone .milestone-details { position: relative; padding: 4px 0 4px 4px; }
            .milestone .milestone-details .actions { top: auto; bottom: 0; }
        .milestone .assignedTo { color: #999; }

        .milestone h3 { padding: 2px 0; font-size: 1.4em; }

        .mile-item-list li { padding: 1px 0; margin-left: 20px; list-style-type: disc; color: #888; font-size: 0.8em;  }
        .mile-item-list a { color: #888; font-size: 1.2em;  }

/* Milestones */


#tasks .milestone { padding-bottom: 15px; }
#tasks h2 { font-size: 1.6em; border-bottom: 1px solid #EFEFEF; }

.task_list ul { border-top: 1px solid #EFEFEF;  }
    .task_list ul.initial-node { margin-top: 15px; }
    .task_list .task-row { position: relative; padding: 7px 3px 7px 25px; background: #F9F9F9 url(../images/project/task/bullet_red.gif) no-repeat center left; border: 1px solid #EFEFEF; border-top: none; }

    .task_list .task-row.focused { background-color: #FFF9DF }

    .task_list li ul { padding-left: 20px; border: none; }
    .task_list li li { font-size: 1em; }