{% extends "projects/base.html" %}
{% load i18n %}

{% block content_id_title %}<h1>Create a new project</h1>{% endblock %}

{% block content %}
<form class="form inline_form" action="{% url project_add %}" method="post">
    {% for field in form %}
        <div class="form-row {% if field.errors %}error{% endif %}">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
    {% endfor %}

    <p class="submit-row">
        <input type="submit" value="Create Project" />
        <a href="javascript:history.back()">Cancel</a>
    </p>


</form>
{% endblock %}